*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #000;
  color: #fff;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #0f0f0f;
}
.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i))
}
.navbar a:hover, .navbar a.active{
  color: #bd0808;
}
.home{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}
.home-img img{
  max-width: 450px;
  margin-right: -20px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
.home-content{
  max-width: 600px;
}
.home-content h3{
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.home-content h3 span{
  color: #bd0808;
}
.home-content h1{
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}
.home-content p{
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.social-media a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #bd0808;
  border-radius: 50%;
  font-size: 20px;
  color: #bd0808;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
  background: #bd0808;
  color: #1f242d;
  box-shadow: 0 0 20px #bd0808;
}
.btn{
  display: inline-block;
  padding: 12px 28px;
  background: #bd0808;
  border-radius: 40px;
  box-shadow: 0 0 10px #bd0808;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}


/* KEYFRAMES ANIMATION */
@keyframes slideRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes floatImage{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-24px);
  }
  100%{
    transform: translateY(0);
  }
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.about-img img{
  width: 40vw;
}
.heading{
  text-align: center;
  font-size: 3rem;
}
.about-content h2{
  text-align: left;
  line-height: 1.2;
}
.about-content h3{
  font-size: 2rem;
}
.about-content p{
  font-size: 1rem;
  margin: 1.5rem 0 2.5rem;
}
span{
  color: #bd0808
}
.services h2{
  margin-bottom: 0.5rem;
  margin-top: 4rem;
}
.services-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 7%;
  gap: 2rem;
}
.services-container .services-box{
  flex: 1 1 3rem;
  background: #0f0f0f;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid #000;
  transition: .5s ease;
}
.services-box:hover{
  border-color: #bd0808;
  transform: scale(1.02);
}
.services-box i{
  font-size: 4rem;
  color: #bd0808;
}
.services-box h3{
  font-size: 1.5rem;
}
.services-box p{
  font-size: 0.8rem;
  margin: 1rem 0 0rem;
}
.contact h2{
  margin-bottom: 3rem;
}
.contact form{
  max-width: 50%;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
  width: 100%;
  padding: 1rem;
  font-size: 0.7rem;
  color: var(--text-color);
  background: #0f0f0f;
  border-radius: .8rem;
  margin: .5rem 0;
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background:#0f0f0f;
}
.footer-text{
  font-size: 1rem;
}
.footer-iconTop a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: #bd0808;
  border-radius: .8rem;
  transition: .5s ease;
  text-decoration: none;
}
.footer-iconTop a:hover{
  box-shadow: 0 0 1rem #bd0808;
}
.footer-iconTop a i{
  font-size: 1rem;
  color: #000;
}
/* BREAKPOINTS */
@media (max-width: 1200px){
  html{
    font-size: 55%;
  }
}
@media (max-width: 991px){
  .header{
    padding: 2rem 3%;
  }
  section{
    padding: 10rem 3% 2rem;
  }
  .services{
    padding-bottom: 7rem;
  }
  .contact{
    min-height: auto;
  }
  .footer{
    padding: 2rem 3%;
  }
}
@media (max-width: 768px){
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #1f242d;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem .1rem rgba(0, 0, 0, .2);
    display: none;
  }
  .navbar.active{
    display: block;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home{
    flex-direction: column;
  }
  .home-content h3{
    font-size: 2rem;
  }
  .home-content h1{
    font-size: 4rem;
  }
  .home-img img{
    width: 70vw;
    margin-top: 4rem;
  }
  .about{
    flex-direction: column-reverse;
  }
  .about img{
    width: 70vw;
    margin-top: 4rem;
  }
  .services h2{
    margin-bottom: 3rem;
  }
}
@media (max-width: 450px){
  html{
    font-size: 50%;
  }
  .contact form .input-box input{
    width: 100%;
  }
}
@media (max-width: 365px){
  .home-img img{
    width: 90vw;
  }
  .about-img img{
    width: 90vw;
  }
  .footer{
    flex-direction: column-reverse;
  }
  .footer p{
    text-align: center;
    margin-top: 2rem;
  }
}